{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}" />
<div class="container quiz-start mt-5">
  <div class="card shadow-lg">
    <div class="card-body text-center">
      <h1 class="card-title mb-4">Quizz</h1>
      <h3 class="card-subtitle mb-4">Testez vos connaissances !!</h3>
      <form action="{{ url_for('quizz_start') }}" method="post">
        <div class="form-group mb-3">
          <label for="module" class="form-label">Choisir le module</label>
          <select name="module" id="module" class="form-select" required>
            <option value="" disabled selected>Sélectionnez un module</option>
            {% for module in modules %}
            <option value="{{ module.id }}">{{ module.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-4">
          <label for="course" class="form-label">Choisir le cours</label>
          <select name="course" id="course" class="form-select" required>
            <option value="" disabled selected>Sélectionnez un cours</option>
            {% for module in modules %} {% for course in module.courses %}
            <option value="{{ course.id }}">{{ course.title }}</option>
            {% endfor %} {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-success btn-lg">
          Commencer le quiz
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
